<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .d-flex.align-items-center {
            display: flex;
            align-items: center;
        }

    </style>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<section layout:fragment="content">

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary d-flex justify-content-center align-items-center"
         style="min-height: 410px; margin-left: 4rem; margin-right: 4rem;margin-bottom: 0; padding-bottom: 0; position: relative;">
        <img th:src="@{/img/slideshow3.jpg}" alt="AZ Studio Shop Header Image"
             class="position-absolute top-0 left-0 w-100" style="max-height: 100%; object-fit: cover;"/>
        <div class="d-flex flex-column align-items-center justify-content-center text-white" style="z-index: 1;">
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">

                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Sản Phẩm</th>
                        <th>Giá Tiền</th>
                        <th>Số Lượng</th>
                        <th>Tổng Tiền</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    <tr th:each="item : ${carts}">
                        <td class="align-middle">
                            <a th:href="@{'/shop/detail/' + ${item.maSp}}" class="d-flex align-items-center">
                                <img th:src="@{'/img/' + ${item.hinh}}" alt="Tên Sản Phẩm"
                                     style="width: 150px; margin-right: 10px;">
                                <span th:text="${item.tenSp}">Tên Sản Phẩm</span>
                            </a>
                        </td>
                        <td class="align-middle" th:text="${item.donGia} + '00 VNĐ'">Giá Tiền VNĐ</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus" type="button">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary text-center"
                                       th:value="${item.soLuong}" name="soLuongMua">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle" th:text="${item.tongTien} + '00 VNĐ  '">Tổng Tiền VNĐ</td>
                        <td class="align-middle">
                            <form th:action="@{/cart/remove/{id}(id=${item.maSp})}" method="post">
                                <button class="btn btn-sm btn-primary" type="submit">
                                    <i class="fa fa-times"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Mã giảm giá">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Thêm mã giảm giá</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Giỏ hàng</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Tổng đơn giá</h6>
                            <h6 class="font-weight-medium" th:text="${totalAmount} + '.00 VNĐ'">Tổng đơn giá VNĐ</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Phí vận chuyển</h6>
                            <h6 class="font-weight-medium">30.000VNĐ</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Tổng Tiền</h5>
                            <h5 class="font-weight-bold">Tổng tiền cộng phí vận chuyển VNĐ</h5>
                        </div>
                        <form th:action="@{/cart/checkout}" method="get">
                            <button class="btn btn-block btn-primary my-3 py-3">Xác nhận</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
    <!-- Nội dung cụ thể của từng trang sẽ được đặt tại đây -->
</section>
<th:block th:replace="~{layout::footer}"></th:block>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://sf-cdn.coze.com/obj/unpkg-va/flow-platform/chat-app-sdk/0.1.0-beta.4/libs/oversea/index.js"></script>
<script>
    new CozeWebSDK.WebChatClient({
        config: {
            bot_id: '7385575705587449864',
        },
        componentProps: {
            title: 'Hỗ trợ đặt hàng',
        },
    });
</script>
</body>
</html>